<div class="row">
  <div class="small-12 columns">
    <%= form_for(@catch_report) do |f| %>
        <dl class="accordion" data-accordion>
          <dd>
            <a href="#panel1">Beretning</a>

            <div id="panel1" class="content active">
              <%= f.text_area :description %>
            </div>
          </dd>

          <dd>
            <a href="#panel25">Billede</a>

            <div id="panel25" class="content">
              <input type="file"  name="image" accept="image/*" capture>
            </div>
          </dd>

          <dd>
            <a href="#panel2">Lokation</a>

            <div id="panel2" class="content">
              <%= f.hidden_field :gps_coords %>
            </div>
          </dd>

          <dd>
            <a href="#panel3">Fangster</a>

            <div id="panel3" class="content">
              <div id="add-catch-btn" class="button tiny radius">+</div>
            </div>
          </dd>
        </dl>

        <div class="actions row">
          <div class="small-5 small-offset-3 columns">
            <%= f.submit class: 'button tiny radius' %>
          </div>
          <div class="small-4 columns">
            <%= link_to 'cancel', catch_reports_path, class: 'button tiny expand secondary radius' %>
          </div>
        </div>
    <% end %>
  </div>
</div>